*{
    margin:0;
    padding:0;
    text-decoration:none;
    list-style-type:none;
    outline: none;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}
h1,h2,h3,h4,p{
    opacity: 0;
    transform: translateY(10rem);
}
h1.show,h2.show,h3.show,h4.show,p.show{
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1.1s ease, transform 0.6s ease;
}
.card{
    box-shadow: 0 0 0.4rem 0.01rem black;
}
.card:hover{
    box-shadow: 0 0 0.9rem 0.02rem black;
}
.hero-btn{
    padding: 0.8rem;
    border:none;
    border-radius: 1rem;
    background-color: #23244E;
    color:#E2E2E2;
    opacity: 0.7;

    font-size: 1.7rem;
    font-family: "Poppins", sans-serif;

    word-spacing: 0.1rem;
    letter-spacing: 0.03rem;
}
.hr1{
    background: linear-gradient(90deg, #6780FF 0%, #8529F5 100%);
    height:0.2rem;
    border: none;
}
.hr2{
    background-color:white;
    box-shadow: 0 0 0.5rem 0.1rem white;
    width: 100%;
}


h1{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 3.7rem;
}
h2{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 3.2rem;
}
h3{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 2.6rem;
}
h4{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 2.2rem;
}


/*header section*/
#nav-icon{
    font-size:0;
}
.navbar{
    display:flex;
    justify-content: space-between;
    padding: 1.7rem 5rem;
    min-height:5vh;
    background-color:white;
    margin-top: -1rem;
}
.nav-list{
    display:flex;
    font-size: 2rem;
    gap: 4rem;

}
.nav-link{
    color: black;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

.nav-btn{
    display:flex;
    gap: 1.3rem;
}
.nav-btn button{
    font-size: 1.7rem;
    padding: 0.7rem 1rem;
    font-family: "Poppins", sans-serif;
    border-radius: 1rem;
    border: none;
}
.nav-btn__1{
    background-color:#23244E;
    opacity: 0.7;
    color:#E2E2E2;
    border: none;
}

/*main starts here*/

/*hero section starts here*/

.hero-section{
    display:flex;
    padding: 5rem;
    min-height: 95vh;
}
.hero-img{
    flex:1;
}
.hero-img img{
    width: 70%;
    height: 83%;
    border-radius: 50%;
}
.hero-img img{
    border-radius: 50%;
}
.hero-desc{
    flex:1;
    padding-top: 10rem;
}
.hero-desc p{
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 3.2rem;

    margin-top: 1rem;
    margin-bottom:2rem;
}
.hero-btn{
    margin-top: 1rem;
    padding: 0.7rem 1.5rem;
    font-size:1.85rem;
}

/*about section starts here*/

.about-section{
    min-height:95vh;
    display:flex;
    flex-direction: column;
}
.about-me{
    width: 80%;
    margin:auto;
    padding: 5rem;
    border-radius: 2rem;

    background: linear-gradient(180deg, #CBC0FE 0%, #B8CEFF 100%);

    text-align: center;
}
.about-me p{
    font-size: 2rem;
    font-family: "Open Sans", sans-serif;
    line-height: 3.15rem;
    font-weight: 500;
    margin-top: 1rem:
}

/*Work section*/

.work-section{
    padding: 5rem;
    position: relative;
    min-height: 100vh;
}
.work-section h1{
    text-align: center;
}
.work-section div{
    position: absolute;
    padding:2rem;
    width: 30%;
    text-align: center;
}
.work-section div p{
    font-size: 2rem;
    font-family: "Lato" , sans-serif;
    line-height: 2.8rem;
}
.work-div1{
    top: 15rem;
    left: 35%;
}
.work-div2{
    top: 28rem;
    right: 5%;
}
.work-div3{
    top: 45rem;
    right: 20%;
}
.work-div4{
    top: 45rem;
    left: 20%;
}
.work-div5{
    top: 28rem;
    left: 5%;
}


/*portfolio section*/

.portfolio-section{
    min-height: 150vh;
}
.portfolio-section h1{
    text-align: center;
    margin-bottom: 10rem;
}
.portfolio-images{
   overflow: scroll;
   display:flex;
   scroll-behavior: smooth;
}
.portfolio-images img{
   width:40%;
   height:auto;
   margin: 1rem;
}


/*service section*/

.service-section{
    min-height: 95vh;
    padding: 5rem;
    margin-top: 5rem;
}
.service-section h1{
    text-align:center;
}
.service-div{
    position: relative;
    height: 105rem;
    margin-top: 10rem;
}
.service-div div{
    background: linear-gradient(180deg, #CBC0FE 0%, #B8CEFF 100%);
    border-radius: 2rem;
    padding: 3rem;
}
.service-div div p{
    font-family: "Open Sans", sans-serif;
    font-size: 1.8rem;
    font-weight: 620;
    line-height: 3rem;
    margin-top: 1rem;
}
.service-div__1{
    position: absolute;
    width: 40%;
    left: 5rem;
    top:1rem;
}
.service-div__2{
    position: absolute;
    width: 30%;
    right: 5rem;
    top: 20rem;
}
.service-div__3{
    position: absolute;
    width: 35%;
    left: 5rem;
    top: 45rem;
}
.service-div__4{
    position: absolute;
    width: 30%;
    right: 40rem;
    top: 75rem;
    text-align: center;
}

/*Packages starts here*/

.package-section h1{
    text-align: center;
    margin-bottom: 5rem;
}
.package-section h4{
    margin-top: 4rem;
    text-align: center;
}
.packages{
    display:flex;
    flex-wrap: wrap;
    max-width: 100%;
}
.package{
    font-size: 1.9rem;
    padding: 5rem;
    flex:1;
}
.package h3{
    margin-bottom: 2rem;
}
.package li{
    margin-top: 1rem;
    font-family: "Lato" , sans-serif;
    font-weight: 520;
    list-style-type:disc;
}

/*contact section starts here*/

.contact-section{
    min-height:90vh;
    margin-top:10rem;
}
.contact-section h1{
    text-align:center;
}
.contact-div{
    margin-top: 5rem;
    padding: 5rem;
    display:flex;
    justify-content: space-between;
}

.contact-div__left ul{
    margin-top:5rem;
    display:flex;
    flex-direction: column;
    gap: 3rem;
}
.contact-list{
    font-size: 2.1rem;
    font-family: "Lato" , sans-serif;
    color:black;
}
.contact-msg{
    text-align:center;
    padding: 5rem;
    font-size: 2.3rem;
    font-family: "Lato" , sans-serif;
    font-weight: 600;
}

.contact-form{
    margin-top: 5rem;
    display:flex;
    flex-direction: column;
    gap: 2rem;
}
.contact-form div{
    background: linear-gradient(180deg, #CBC0FE 0%, #B8CEFF 100%);

    display:flex;
    gap: 1rem;
    
    font-size: 2rem;
    padding: 1.5rem 2rem;
    border-radius: 2rem;
    font-family: "Lato" , sans-serif;

}
.contact-form input,textarea{
    border:none;
    background: none;

    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.02rem;
    word-spacing: 0.01rem;
    font-family: "Lato" , sans-serif;
}
.contact-form textarea{
    height: 10rem;
    resize: none;
}
.contact-form button{
    width: 20rem;
}




.footer{
    display:flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, #CBC0FE 0%, #B8CEFF 100%);

    padding: 5rem;
    gap: 4rem;
    width: 100%;
}
.footer-list{
    display:flex;
    gap: 3rem;
    font-size:2rem;
}
.footer-contact ul{
    display:flex;
    gap:4rem;
}
.footer-offer{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.footer-end p{
    font-size: 2.1rem;
    font-family: "Lato" , sans-serif;

    margin-top: 3rem;
}

/*blog section*/

.profile-section{
    display:flex;
}
.about-link a{
    color:black;
    font-size: 2rem;
    font-family: "Lato" , sans-serif;
}
.profile-desc{
    display:flex;
    gap: 2rem;
    flex-direction: column;
    margin-top:3rem;
}
.profile-img{
    flex:0.4;
    padding:2rem;
}
.profile-img img{
    width:100%;
    height:auto;
    border-radius: 50rem;
    margin-bottom: 4rem;
}
.blog-desc{
    padding: 5rem;
    flex:1;
    display:flex;
    flex-direction: column;
    gap: 4rem;
}
.blog-desc h1{
    line-height: 5.2rem;
}
.blog-desc p{
    font-size: 2rem;
    font-family: "Open Sans" , sans-serif;
    line-height: 2.8rem;
    word-spacing: 0.09rem;
    letter-spacing: 0.07rem;
    margin-top: 0.5rem;
}



@media (max-width:992px) {

    html{
        font-size: 56%;
    }


    /*hero section*/

    .hero-img img{
        width: 80%;
        height: 60%;
        border-radius: 50%;
        margin-top: 10rem;
    }

    /*work section*/
    .work-section div{
        width: 35%;
    }
    .work-div3{
        right: 15%;
    }
    .work-div4{
        left: 15%;
    }

    /*portfolio section*/
    
    .portfolio-section{
        min-height:70vh;
    }
    /*service section*/

    .service-div{
        height: 120rem;
    }
    .service-div__1{
        position: absolute;
        width: 42%;
        left: 1rem;
        top:1rem;
    }
    .service-div__2{
        position: absolute;
        width: 35%;
        right: 1rem;
        top: 25rem;
    }
    .service-div__3{
        position: absolute;
        width: 40%;
        left: 1rem;
        top: 55rem;
    }
    .service-div__4{
        position: absolute;
        width: 50%;
        right: 20%;
        top: 90rem;
        text-align: center;
    }    

}
@media (max-width:768px) {

    
    #nav-icon{
        visibility: visible;
        font-size: 2.2rem;
        padding:0.8em;
        padding-right: 3.6rem;
        z-index: 20;
        position:fixed;
        top:1rem;
        left:1rem;
        background-color:#873fa6;
        color:white;
        border-radius: 1.3rem;
    }
    .navbar{
        flex-direction: column;
        justify-content: flex-start;
        gap: 4rem;
        padding-top:10rem;

        position: fixed;
        top:0;
        left:0;
        transform: scaleX(0);
        transform-origin:left;
        transition: 0.5s;
        z-index: 10;

        height: 100vh;
        box-shadow: 0 0 1rem 0.005rem black;
    }
    .nav-btn{
        gap: 2rem;
    }
    .navbar.clicked-nav{
        transform: scaleX(1);
        transition: transform 0.5s;
    }
    .nav-list{
        flex-direction: column;
        justify-content: flex-start;
    }


    /*hero section*/

    .hero-section{
        flex-direction: column;
        text-align: center;
    }
    .hero-img{
        width:75%;
        height:75%;
        margin: 0 auto;
    }
    .hero-desc h1{
        margin-bottom: 2rem;
    }
    .hero-desc p{
        margin-bottom: 2rem;
    }

    /*work section*/
    .work-section{
        position: static;
        display:flex;
        flex-direction: column;
    }
    .work-section h1{
        margin-bottom: 3rem;
    }
    .work-section div{
        position: static;
        width: 100%;
        text-align:left;
        margin-top: 3rem;
        line-height:5rem;
    }

    /*portfolio section*/

    .portfolio-images img{
        width:55%;
    }
    .portfolio-section{
        min-height: 70vh;
    }
    /*service section*/

    .service-div{
        position: static;
        display:flex;
        flex-direction: column;
        gap: 5rem;
        align-items: center;
        height: auto;
        margin-bottom: 5rem;
    }
    .service-div div{
        position: static;
        width:80%;
    }
    
    /*package-section*/
    .package-section{
        padding: 2rem;
    }
    .packages{
        gap: 2rem;
        flex-direction: column;
    }

    
    /*contact section*/

    .contact-div{
        flex-direction: column;
        gap: 5rem;
        text-align: center;
    }
    .contact-form{
        padding: 0 10rem;
    }
    .contact-btn{
        margin: auto;
    }
    /*footer section*/

    .footer-contact ul{
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        gap: 2rem;
    }
    .footer{
        gap: 6rem;
        margin-right: none;
    }
    /*blog section*/

    .profile-section{
        flex-direction: column;
    } 
    .profile-img img{
        width: 60%;
    }

}

@media (max-width:600px) {
    .hero-desc{
        padding-top:3rem;
    }
    .hero-img{
        width:90%;
        height:90%;
        margin: 0 auto;
    }

    .about-section{
        padding:1rem;
    }

    .contact-form{
        padding: 0 0.5rem;
    }
    .footer-list{
        gap: 2rem;
        font-size: 1.9rem;
    }
    .footer-end p{
        text-align: center;
        font-weight: 600;
    }
    .portfolio-images img{
        width:90%;
    }
}
@media (max-width: 400px) {
    html{
        font-size: 52%;
    }
    .h1{
        font-size: 3.5rem;
    }
    
    .portfolio-desktop{
        height: 65rem;
    }
    .portfolio-mobile img{
        width: 65%;
        height: 35rem;
    } 
    .portfolio-desktop img{
        width: 92%;
        height: 20rem;  
    }
    .about-me{
        padding: 4rem 2rem;
        width: 90%;
        margin:auto;
    }
    .service-section{
        padding: 2rem;
    }
    .package-section{
        padding: 2rem;
    }
    .packages{
        gap: 1rem;   
    }
    .package li{
        font-size: 2rem;
    }
}



/*dark mode section*/


.darkBody{
    background: linear-gradient(177.38deg, #060C47 0.99%, #2E0051 32.82%, #060C47 62.75%, #2E0051 94.58%);

}

.card.darkCard{

    background: linear-gradient(99.03deg, #171976 0.63%, #7C1EBC 88.53%);
    opacity: 1;
    box-shadow: 0 0 0.5rem 0.1rem rgb(158, 72, 219);
}


.navbar.darkCard{
    background: linear-gradient(99.03deg, #171976 0.63%, #7C1EBC 88.53%);
}

h1.darkHeading,h2.darkHeading,h3.darkHeading,h4.darkHeading{
    color:white;
}
p.darkParagraph,a.darkParagraph,li.darkParagraph{
    color:#D9D9D9;
}

.footer.darkFooter{
    background: linear-gradient(99.03deg, #171976 0.63%, #7C1EBC 88.53%);
}



















